.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    padding: 8px;
}

.display {
    display: inline-block;
    border: 2px solid red;
}